<!DOCTYPE html>
<html>
  <head>
    <title>Reset Your Password</title>
  </head>
  <body>
    <h2>Hi {{ user.first_name }},</h2>
    <p>
      We received a request to reset your password for your Luk's by GoodChoice
      account. Please click the link below to set a new password:
    </p>
    <p><a href="{{ reset_link }}">Set New Password</a></p>
    <p>
      This link will expire in a few days. If you did not request a password
      reset, please ignore this email.
    </p>
    <br />
    <p>Thanks,</p>
    <p>The Luk's Team</p>
  </body>
</html>
